/*!-------------RESET------------------------------------------------------------------------------------------------------------*/
/**-----INDEX-------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*!------------HEADER-------------------------------------------------------------------------------------------------------------*/
.header-icono a img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.header-icono a {
    text-decoration: none;
}

/*!--------------MAIN---------------------------------------------------------------------------------------------------------------*/
/**-----INDEX-------*/
.destacado {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.destacado-contenedor {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.marcas {
    padding: 30px;
    border-top: 2px;
    border-color: gray;
}

.marcas h2 {
    margin-bottom: 20px;
}

.marcas div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.marcas div a {
    text-decoration: none;
}

.marcas div a img {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.destacado h2 {
    font-size: 40px;
}

.tarjeta-producto {
    margin: 20px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.2s;
}

.tarjeta-producto:hover {
    transform: translateY(-5px);
}

.tarjeta-imagen {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.tarjeta-info {
    padding: 16px;
}

.tarjeta-nombre {
    font-size: 1.2em;
    margin: 0 0 8px;
    color: #333;
}

.tarjeta-precio {
    font-size: 1.1em;
    margin: 0 0 16px;
    color: #00a650;
}

.tarjeta-boton {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.tarjeta-boton:hover {
    background-color: gray;
    color: white;
}

.accesorio {
    background-color: rgb(243, 243, 243);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}

.accesorio img {
    width: 700px;
    height: auto;
}

.accesorio div p {
    padding-left: 40px;
    padding-right: 40px;
}

.nosotros {
    background-color: rgb(243, 243, 243);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.nosotros div {
    display: flex;
}

.nosotros div img {
    width: 600px;
    height: auto;
    margin: 20px;
}

.nosotros p {
    margin: 20px;
}

.whatsapp {
    width: 60px;
    position: fixed;
    bottom: 80px;
    right: 50px;
}

/**-----CONTACTOS-------*/
.datos {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
}

.contacto {
    margin-bottom: 40px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.boton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(185, 185, 185);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none
}

button:hover {
    background-color: #838383;
    color: white
}

/**-----LOGIN-------*/
.registro {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

h3 {
    text-align: center;
}

.registro-contenedor {
    margin-bottom: 40px;
}

.login-boton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(185, 185, 185);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none
}

button:hover {
    background-color: #838383;
    color: white
}

/**-----NOTICIAS-------*/
.noticias {
    display: flex;
    flex-direction: column;
}

.noticias h1 {
    margin: 20px;
}

.noticias div {
    display: flex;
    margin: 20px;
}

.noticias div a {
    text-decoration: none;
    border-top-color: gray;
}


/**-----PRODUCTOS-------*/
.catalogo {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 60px;
    padding: 0 16px;
    box-sizing: border-box;
}


.filtros {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-top: 20px;
    min-width: 270px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filtro h3 {
    margin-top: 0;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
}

.producto h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*!----------------FOOTER-------------------------------------------------------------------------------------------------------------*/
/**-----INDEX-------*/
.footer {
    background-color: #575757;
    color: #ffffff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    box-shadow: 4px rgba(0, 0, 0, 0.1);
}

.mapa iframe {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.footer-contenedor {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-div {
    flex: 1;
    max-width: 300px;
    min-width: 200px;
    margin: 10px;
}

.footer-div h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-div ul {
    list-style: none;
    padding: 0;
}

.footer-div ul li {
    margin-bottom: 10px;
}

.footer-div ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-div ul li a:hover {
    text-decoration: underline;
}

.redes-iconos li {
    margin-right: 10px;
}

.redes-iconos li img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.footer-final {
    text-align: center;
    padding: 10px 0;
    background-color: #2b2b2b;
    margin-top: 20px;
}

/*!----------------------------MEDIA QUIERIS-----------------------------------------------------------*/
/*--------------footer------------------*/
@media screen and (max-width: 360px){
    .mapa iframe {
        width: 95%;
    }
}
/*--------------index------------------*/
@media screen and (max-width: 800px) {
    .accesorio {
        padding: 10px;
    }
    .accesorio-img {
        display: none;
    }
    .accesorio div p {
        justify-content: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .nosotros div p {
        justify-content: center;
        width: 100%;
    }
    .nosotros-img {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .carousel-slide {
        display: none;
    }

    .redes div iframe {
        display: none;
    }

    .whatsapp {
        display: none;
    }

    .logos {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .redes-mobile {
        display: none;
    }
}
/*--------------productos------------------*/
@media screen and (max-width: 900px) {
    .catalogo {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .tarjeta-producto {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
        background-color: #fff;
    }

    .tarjeta-imagen {
        width: 100%;
        max-width: 200px;
        object-fit: contain;
    }

    .tarjeta-info {
        text-align: center;
        margin-top: 10px;
    }

    @media (max-width: 630px) {
        .catalogo {
            flex-direction: column;
            width: 100%;
        }
        .filtros{
            width: 97%;
            margin: 5px;
        }
        .productos {
            display: block;
        }
        .tarjeta-producto {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
            height: 200px;
            width: 90%;
            margin: 10px;
        }

        .tarjeta-imagen {
            max-height: 90%;
            width: 170px;
        }

        .tarjeta-info {
            width: fit-content;
            text-align: left;
        }
    }
}
