/*!-------------RESET------------------------------------------------------------------------------------------------------------*/
/**-----INDEX-------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*!------------HEADER-------------------------------------------------------------------------------------------------------------*/
.header-icono a img{
    width: 40px;
    height: 40px;
    margin: 10px;
}

/*!--------------MAIN---------------------------------------------------------------------------------------------------------------*/
/**-----INDEX-------*/
.destacado {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.destacado-contenedor {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.destacado h2 {
    font-size: 40px;
}
.tarjeta-producto {
    margin: 20px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.2s;
}

.tarjeta-producto:hover {
    transform: translateY(-5px);
}

.tarjeta-imagen {
    width: 100%;
    height: 200px;
    object-fit:contain;
}

.tarjeta-info {
    padding: 16px;
}

.tarjeta-nombre {
    font-size: 1.2em;
    margin: 0 0 8px;
    color: #333;
}

.tarjeta-precio {
    font-size: 1.1em;
    margin: 0 0 16px;
    color: #00a650;
}

.tarjeta-boton {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.tarjeta-boton:hover {
    background-color: gray;
    color: white;
}

.whatsapp {
    width: 60px;
    position: fixed;
    bottom: 80px;
    right: 50px;
}

/**-----CONTACTOS-------*/
.datos {    
    display: flex;
    justify-content: center;
}
.datos-contenedor {
    border-color: gray;
    display: flex;    
    width: 400px;
    padding: 20px;
    flex-direction: column;
    align-items: start;
}
.datos-contenedor div {
    display: start;
    justify-content: center;
}
.datos-contenedor div input{
    display: flex;
    justify-content: start;
}
.datos-contenedor div label{
    display: flex;
    justify-content: start;
}
.boton {
    display: flex;
}
.boton input{
    display: flex;
    margin: 10px;
}
/**-----LOGIN-------*/
.registro-contenedor h3 {
    margin: 20px;
    display: flex;
    justify-content: center;
}
.registro-contenedor {
    border-color: gray;
    display: flex;    
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
.registro-contenedor div {
    display: start;
    justify-content: center;
}
.registro-contenedor div input{
    display: flex;
    justify-content: start;
}
.registro-contenedor div label{
    display: flex;
    justify-content: start;
}
.registro-boton {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    width: 120px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}
.registro-boton a {
    color: white;
    text-decoration: none;
}

/**-----NOTICIAS-------*/
.noticias {
    display: flex;
    flex-direction: column;
}
.noticias h1 {
    margin: 20px;
}
.noticias div {
    display: flex;
    margin: 20px;
}
.noticias div a {
    text-decoration: none;
    border-top-color: gray;
}


/**-----PRODUCTOS-------*/
.catalogo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 16px;
    max-width: 1200px;

    padding: 0 16px;
    box-sizing: border-box;
}

.filtros {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filtro h3 {
    margin-top: 0;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
}


/*!----------------FOOTER-------------------------------------------------------------------------------------------------------------*/
/**-----INDEX-------*/
footer {
    background-color: rgb(243, 243, 243);
    height: auto;
}
.redes div{
    display: inline-block;
}
.logos img{
    justify-items: center;
    width: 40px;
}
footer iframe {
    border-radius: 15px;
    margin: 15px;
}
.redes-mobile a{
    display: block;
    
}
/*!----------------------------MEDIA QUIERIS-----------------------------------------------------------*/

@media screen and (max-width: 800px){
    .carousel-slide {
        display: none;
    }
    .redes div iframe {
        display: none;
    }
    .whatsapp {
        display: none;
    }
    .logos {
        display: none;
    }
}
@media screen and (min-width: 800px) {
    .redes-mobile {
        display: none;
    }
}