header{
    nav{
        div{
            .header-icono{
                a{
                    text-decoration: none;
                    img{
                        width: 40px;
                        height: 40px;
                        margin: 10px;
                    }
                }
            }
        }
    }
}
