/*--------------footer------------------*/
@media screen and (max-width: 360px) {
    .mapa iframe {
        width: 95%;
    }
}

/*--------------index------------------*/
@media screen and (max-width: 800px) {
    .accesorio {
        padding: 10px;
    }

    .accesorio-img {
        display: none;
    }

    .accesorio div p {
        justify-content: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .nosotros div p {
        justify-content: center;
        width: 100%;
    }

    .nosotros-img {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .carousel-slide {
        display: none;
    }

    .redes div iframe {
        display: none;
    }

    .whatsapp {
        display: none;
    }

    .logos {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .redes-mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .reviews-contenedor {
        padding: 15px;
    }

    h2 {
        font-size: 24px;
    }

    .review h3 {
        font-size: 18px;
    }

    .dejar-review h3 {
        font-size: 22px;
    }

    .dejar-review .boton {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .reviews-contenedor {
        margin: 20px auto;
        padding: 10px;
    }

    h2 {
        font-size: 20px;
    }

    .review h3 {
        font-size: 16px;
    }

    .dejar-review h3 {
        font-size: 20px;
    }

    .dejar-review .boton {
        padding: 6px 12px;
        font-size: 12px;
    }
}

@media (max-width: 620px) {
    .ofertas .ofertas-contenedor {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 620px) {
    .destacado .destacado-contenedor {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 620px) {
    .accesorio h2 {
        font-size: 30px;
    }

    .accesorio .accesorio-contenedor {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: column;
        width: 100%;
    }
}

/*--------------productos------------------*/
@media screen and (max-width: 900px) {
    .tarjeta-producto {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
        background-color: #fff;
    }

    .tarjeta-imagen {
        width: 100%;
        max-width: 200px;
        object-fit: contain;
    }

    .tarjeta-info {
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 630px) {
    .producto .catalogo {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: column;
        width: 100%;
    }

    .producto .catalogo .filtros {
        width: 100%;
        margin-bottom: 20px;
        margin: 5px;
    }

    .producto .catalogo .productos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .producto .catalogo .productos .tarjeta-producto {
        width: 95%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        height: 200px;
        margin: 10px;
    }

    .tarjeta-imagen {
        max-height: 90%;
        width: 170px;
    }

    .tarjeta-info {
        width: fit-content;
        margin: 0;
        text-align: left;
        font-size: 15px;
    }
}

/*--------------nosotros------------------*/
@media (max-width: 1024px) {
    .nosotros-item {
        text-align: center;
        h2 {
            font-size: 1.2em;
        }

        p {
            font-size: 0.9em;
        }

        ul {
            padding-left: 0;
            margin: 0;
            text-align: left;

            li {
                font-size: 0.9em;
            }
        }
    }

    .nosotros-resumen p {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .nosotros-item{
        text-align: center;

        h2 {
            font-size: 1.1em;
        }

        p {
            font-size: 0.9em;
        }

        ul {
            padding-left: 0;
            margin: 0;
            text-align: center;

            li {
                font-size: 0.9em;
            }
        }
    }

    .nosotros-resumen p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .nosotros-item {
        padding: 10px;

        h2 {
            font-size: 1em;
        }

        p {
            font-size: 0.8em;
        }

        ul {
            padding-left: 0;
            margin: 0;
            text-align: center;

            li {
                font-size: 0.8em;
            }
        }
    }

    .nosotros-resumen p {
        font-size: 0.8em;
    }
}